.auth-container {
  height: 100vh;
  width: 100%;
  display: flex;

  justify-content: flex-start;
  align-items: center;

  padding-left: 8%; // responsive instead of 400px

  background-image: url("../../assets/images/food-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.auth-box {
  width: 360px;
  max-width: 90%;
  height: auto;

  padding: 40px;
  border-radius: 12px;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  text-align: center;

  background: rgba(240, 189, 144, 0.96);
  backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.auth-box h2 {
  margin-bottom: 10px;
  font-weight: 600;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;

  border-radius: 6px;
  border: none;
  outline: none;

  margin-top: 10px;
  font-size: 14px;
}

.auth-box button {
  padding: 10px;

  border-radius: 6px;
  border: none;

  background-color: rgb(5, 11, 15);
  color: rgb(162, 213, 199);

  margin-top: 10px;

  font-size: 15px;
  cursor: pointer;
}

.auth-box button:hover {
  background-color: #333;
}


/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

  .auth-container {
    justify-content: center;
    padding-left: 0;
  }

  .auth-box {
    width: 90%;
    padding: 30px;
  }

}